<div *ngIf="artista" class="container main-container animated fadeIn fast">
  <div class="row">
    <div class="col-md-3">
      <img [src]="artista.images | sinfoto " class="img-circle img-thumbnail" alt="">
      <br>
    </div>
    <div class="col-md-9">
      <h3> {{ artista.name }} <small>Popularidad: {{ artista.popularity }}</small> </h3>
      <hr>
      <a [href]="artista.external_urls?.spotify" class="btn btn-outline-success">Ver página</a>
      <a [routerLink]="['/buscar']" class="btn btn-outline-danger">Regresar</a>
    </div>
  </div>
</div>

<div *ngIf="canciones && artista" class="container top-30">
  <h3>Top de {{ artista.name }}</h3>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-inverse table-striped">
        <thead>
          <tr>
            <td>#</td>
            <td>Foto</td>
            <td>Canción</td>
            <td>Popularidad</td>
            <td>Preview</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cancion of canciones; let i = index;">
            <td> {{ i+1 }} </td>
            <td>
              <img [src]="cancion.album?.images | sinfoto" class="img-fluid img-50">
            </td>
            <td> {{ cancion.name }} </td>
            <td> {{ cancion.popularity }} %</td>
            <td>
            <!--  <audio controls>
                <source [src]="cancion.preview_url">
                Tu navegador no soporta audio
              </audio>-->
              <iframe [src]=" cancion.uri | domseguro:'https://open.spotify.com/embed?uri='" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
